@charset "utf-8";

/* 모바일용 CSS */
/* 기본 CSS */
.container{
width:90%;
max-width:1132px;
margin:0 auto;
}    

.cfixed:after, .container:after{
display:block;
content:"";
clear:both;
}
    
.blind{
position:absolute;
width:0;
height:0;
line-height:0;
text-indent:-9999px;
overflow:hidden;
}

.sec-tit{
font-size:42px;
color:#3f51b5;
font-weight:normal;
}

.divider{
width:90%;
max-width:1132px;
margin:0 auto;
margin-top:77px;
background:#eee;
}
    
.m-divider{
width:20px;
margin:0 auto;
margin-top:77px;
background:#3f51b5;
}
    
/* 헤더 영역 CSS */
.header{
position:relative;
padding:18px 5%;
}
    
.header .logo{
float:left;
}
    
.header .logo a{
font-size:26px;
color:#3f51b5;
font-weight:normal;
}
    
.header .gnb{
display:none;
position:absolute;
top:100%;
left:0;
width:100%;
background:#3f51b5;
}
    
.header .gnb li{
border-bottom:1px solid #303f9f;
}
    
.header .gnb li a{
display:block;
padding:14px 0 14px 5%;
font-size:14px;
color:#fff;
}
    
.header .menu-toggle-btn{
float:right;
width:20px;
margin-top:4px;
cursor:pointer;
}
    
.header .menu-toggle-btn span{
display:block;
width:100%;
height:2px;
background:#3f51b5;
}
    
.header .menu-toggle-btn span:nth-child(2){
margin:5px 0;
}

/* 슬라이더 영역 CSS */
.slider {
display:block;
width:100%;
max-width:100%;
height:auto;
background-image: url("../images/main.jpg");
background-size: cover;
height: 100vh;
min-height: 40rem;
}
    
/* 디스플레이 영역 CSS */
.display-section{
margin-top:59px;
text-align:center;
}

.display-section .sec-tit{
margin-bottom:30px;
}
    
.display-section .desc{
font-family:'PT Serif';
color:#616161;
line-height:1.9;
}
    
/* 프로모션 영역 CSS */
.promotion-section{
margin-top:68px;
}
    
.promotion-section .promo-list li{
margin-top:52px;
text-align:center;
}
    
.promotion-section .promo-list li:first-child{
margin-top:0;
}
    
.promotion-section .promo-list li img{
height:52px;
}
    
.promotion-section .promo-list li h3{
margin:29px 0 20px 0;
color:#3f51b5;
font-weight:normal;
}
    
.promotion-section .promo-list li p{
font-size:14px;
font-family:'PT Serif';
color:#616161;
line-height:1.5;
}  
    
/* 최근 작업 영역 CSS */
.work-section{
margin-top:73px;
}
    
.work-section .sec-tit{
width:90%;
max-width:1132px;
margin:0 auto;
margin-bottom:47px;
text-align:center;
}
    
.work-section .work-list li{
width:100%;
}

.work-section .work-list li a{
display:block;
position:relative;
width:100%;
height:100%;
}
    
.work-section .work-list li a:before{
display:block;
position:absolute;
top:0;
left:0;
z-index:10;
width:100%;
height:100%;
background:#3f51b5;
content:"";
opacity:0;
transition:all 0.2s;
}
    
.work-section .work-list li a:hover:before{
opacity:0.86;
}
    
.work-section .work-list li .info{
position:absolute;
top:0;
left:23px;
z-index:20;
opacity:0;
transition:all 0.3s;
}
    
.work-section .work-list li a:hover .info{
transform:translateY(23px);
opacity:1;
}
    
.work-section .work-list li .info h3{
margin-bottom:8px;
font-size:23px;
color:#fff;
font-weight:normal;
}
    
.work-section .work-list li .info span{
font-size:11px;
color:#fff;
}
    
.work-section .work-list li img{
display:block;
width:100%;
max-width:100%;
height:auto;
}   
    
/* 최근 글 영역 CSS */
.blog-section{
margin-top:77px;
}
    
.blog-section .sec-tit{
margin-bottom:47px;
text-align:center;
}
    
.blog-section .blog-list li{
width:100%;
margin-top:45px;
}
    
.blog-section .blog-list li:first-child{
margin-top:0;
}
    
.blog-section .blog-list li img{
display:block;
width:100%;
max-width:100%;
height:auto;
}
    
.blog-section .blog-list li time{
display:block;
margin:11px 0 10px 0;
font-size:11px;
color:#9e9e9e;
}
    
.blog-section .blog-list li h3{
color:#424242;
font-weight:normal;
line-height:1.6;
}    
    
/* 연락처 영역 CSS */
.contact-section{
margin-top:109px;
}

.contact-section .sec-tit{
margin-bottom:47px;
text-align:center;
}

.contact-section .form-box .form input{
padding-bottom:13px;
margin-bottom:38px;
}

.contact-section .form-box .textarea textarea{
height:165px;
}

.contact-section .form-box .send-btn{
margin-top:36px;
text-align:right;
}

.contact-section .form-box .send-btn button{
padding:15px;
margin:0; 
border:0;
font-size:12px;
color:#fff;
background:#3f51b5;
font-family:'Montserrat';
cursor:pointer;
}
    
/* 푸터 영역 CSS */
.footer{
margin-top:4px;
}
    
.footer iframe{
width:100%;
height:320px;
}
    
.footer p{
margin:21px 0;
color:#3f51b5;
text-align:center;
}    

/* 태블릿용 CSS */
@media all and (min-width:768px){

/* 기본 CSS */
.divider{
margin-top:124px;
}    
    
.m-divider{
margin-top:124px;
}
    
/* 헤더 영역 CSS */
.header{
position:static;
padding:28px 52px;
}
    
.header .gnb{
display:block !important;
position:static;
float:right;
width:auto;
margin-top:6px;
background:none;
}
    
.header .gnb li{
float:left;
margin-left:21px;
border-bottom:0;
}
    
.header .gnb li a{
padding:0;
font-size:16px;
color:#3f51b5;
}
    
.header .menu-toggle-btn{
display:none !important;
}
    
/* 디스플레이 영역 CSS */
.display-section{
margin-top:95px;
}

/* 프로모션 영역 CSS */
.promotion-section{
margin-top:110px;
}
    
.promotion-section .promo-list li{
float:left;
width:23.046875%;
/* 177px ÷ 768px*/
margin-left:2.604166666666667%;
/* 20px ÷ 768px*/
margin-top:0;
}

.promotion-section .promo-list li:first-child{
margin-left:0;
}
    
/* 최근 작업 영역 CSS */
.work-section{
margin-top:118px;
}   
    
.work-section .sec-tit{
margin-bottom:76px;
}
    
.work-section .work-list li{
float:left;
width:50%;
}   
    
.work-section .work-list li .info{
left:37px;
}
    
.work-section .work-list li a:hover .info{
transform:translateY(37px);
}

/* 최근 글 영역 CSS */
.blog-section{
margin-top:124px;
}
    
.blog-section .sec-tit{
margin-bottom:76px;
} 
    
.blog-section .blog-list li{
float:left;
width:31.59722222222222%;
/* 242.6666666666667px ÷ 768px*/
margin-left:2.604166666666667%;
/* 20px ÷ 768px*/
margin-top:0;
}
    
.blog-section .blog-list li:first-child{
margin-left:0;
}
    
/* 연락처 영역 CSS */
.contact-section{
margin-top:176px;
}
    
.contact-section .sec-tit{
margin-bottom:76px;
}
    
.contact-section .form-box .form, .contact-section .form-box .textarea{
float:left;
width:48.69791666666667%;
/* 374px ÷ 768px*/
}

.contact-section .form-box .form{
margin-right:2.604166666666667%;
/* 20px ÷ 768px*/
}
    
.contact-section .form-box .form input:last-child{
margin-bottom:0;
}
    
/* 푸터 영역 CSS */
.footer iframe{
height:432px;
}
    
.footer p{
margin:34px 0;
}  
}
    
/* PC용 CSS */
@media all and (min-width:1132px){
    
/* 디스플레이 영역 CSS */
.display-section{
text-align:left;
}
    
.display-section .sec-tit{
float:left;
margin-bottom:0;
}
    
.display-section .desc{
position:relative;
float:right;
padding-left:20px;
font-family:'PT Serif';
color:#616161; 
line-height:1.9;
}
    
.display-section .desc:before{
display:block;
position:absolute;
top:9px;
left:0;
width:2px;
height:44px;
background:#e0e0e0;
content:"";
}    

/* 프로모션 영역 CSS */
.promotion-section .promo-list li{
width:23.67491166077739%;
/* 268px ÷ 1132px*/
margin-left:1.76678445229682%;
/* 20px ÷ 1132px*/
}    

/* 최근 작업 영역 CSS */
.work-section .sec-tit{
text-align:left;
}
    
.work-section .work-list li{
width:25%;
}   

/* 최근 글 영역 CSS */
.blog-section .sec-tit{
float:left;
margin-bottom:0;
} 
    
.blog-section .blog-list{
float:right;
width:74.5583038869258%;
/* 844px ÷ 1132px*/
}
    
.blog-section .blog-list li{
width:31.75355450236967%;
/* 268px ÷ 844px*/
margin-left:2.369668246445498%;
/* 20px ÷ 844px*/
}    
    
/* 연락처 영역 CSS */
.contact-section .sec-tit{
float:left;
margin-bottom:0;
}
    
.contact-section .form-box{
float:right;
width:74.5583038869258%;
/* 844px ÷ 1132px*/
}
    
.contact-section .form-box .form, .contact-section .form-box .textarea{
width:48.81516587677725%;
/* 412px ÷ 844px*/
}

.contact-section .form-box .form{
margin-right:2.369668246445498%;
/* 20px ÷ 844px*/
}    
}

.main-container {
    text-align: center;
}

.main-title01 {
    font-family: "Great Vibes", cursive;
    font-size: 5.0vw;
    font-weight: 500;
}

.main-title02 {
    font-family: 'Gugi', cursive;
    font-size: 3vw;
    font-weight: 500;
}

.main-title03 {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.5vw;
    letter-spacing: -1px;
    line-height: 2vw;
}

.mt-3 {
    margin-top: 3vw;
}

header.masthead {
    padding-top: 5%;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0) 0%, rgba(92, 77, 66, 0) 100%), url("../images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 50vw;
}
header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
}
@media (min-width: 320px) {
    header.masthead .main-title01 {
        font-size: 7vw;
    }
}
@media (min-width: 768px) {
    header.masthead {
        min-height: 60vw;
    }
}
@media (min-width: 1024px) {
    header.masthead {
        min-height: 65vw;
    }
}

.second-container {
    padding-top : 70px;
    text-align: center;
    font-weight: 500;
    line-height: 35px;
    font-size: 14px;
    font-family: 'Noto Serif KR', serif;
}

.family-container {
    padding-top : 70px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.family-info {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-size: 16px;
}

.f-desc {
    font-size: 12px;
    color: #999;
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/* 오시는 길 */
.location-container {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    font-family: Noto Serif KR;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-box01 {
    margin-bottom: 50px;
}
.location-text01 {
    font-size: 16px;
    font-weight: 600;
}

.location-box02 {
    padding:24px;
    width: 80%;
    border:1px solid #333;
    margin:0 20px;
    border-radius:5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.location-text02 {
    font-weight:500;
    line-height:24px;
    font-size:16px;
    margin:0;
    color:#000
}
.location-text03 {
    font-weight:500;
    line-height:20px;
    font-size:12px;
    margin:0;
    padding-top:20px;
    word-break:keep-all
}
.location-text04 {
    font-size:12px;
    margin:0;
    line-height:20px;
    padding-top:0px
}

.location-box03 {
    padding : 30px 20px 20px 30px;
    text-align:center;
    display: inline-block;
}

.location-box04 {
    text-align: left;
    line-height: 1.5rem;
}

.location-text05 {
    margin: 10;
    line-height:30px;
    font-size: 16px;
    font-weight: 600;
}

.location-text06 {
    margin: 10;
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
}

.bank-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Noto Serif KR;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bank-text01 {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}
.bank-box01 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 20px;
    margin-top: 50px;
    padding: 13px 0 13px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 80%;
}
.bank-box02 {
    flex: 1;
    border-right: 1px solid #333;
}
.bank-box03 {
    font-size: 12px;
    line-height: 14px;
}
.bank-text02 {
    padding: 0 6px 6px;
    border-bottom: 1px solid #333;
    font-size: 14px;
}
.bank-text03 {
    margin-top: 14px;
}
.bank-text04 {
    font-size: 14px;
    padding-top: 5px;
}
.bank-text05 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bank-box04 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 500;
    width: 80%;
}
.bank-box05 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}
.bank-iconbox {
    padding: 10px 8px;
    margin-right: 10px;
    color: #333;
    width: 34px;
}
.bank-iconbox02 {
    padding: 10px 8px;
    color: #333;
    width: 34px;
}

.bank-iconbox03 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bank-img {
    width: 60px;
    border-radius: 50px;
    padding: 0 5px;
}
.bank-box06 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    padding-top: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: Noto Serif KR;
    color: #333;
}


.pswp__caption__center {
    text-align: center;
}

figure {
    display: inline-block;
    width: 33.3%;
    float: left;
}

img {
    width: 100%;
}

.spacer {
    height: 5em;
}

div.photoSwipe_innerthumbs {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000000;
}

div.photoSwipe_innerthumbs img {
    max-width: 100px;
    cursor: pointer;
}

.svifaded {
    opacity: 0.5;
}